<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./public/stylesheets/resultReceipts.css">
    <title>Document</title>
</head>
<body>
    <div class="page">
        <div class="title">
            <h2>Analysis of Mineral Sample Content</h2>
        </div>

        <div class="top">
            <div class="left">
                <h3 style="text-decoration: underline;">General:</h3>
                <p><strong>Laboratory: </strong>{{laboratory}}</p>
                <p><strong>Sample No: </strong>{{sample_number}}</p>
                <p><strong>Type of material: </strong>{{material_type}}</p>
                {{#if contract_number}}
                    <p><strong>Certificate No: </strong>{{contract_number}}</p>
                {{/if}}
            </div>
            <div class="right">
                <h3 style="margin-bottom: 0; text-decoration: underline;">Results:</h3>
                <div class="labs">
                    <div class="lab">
                        {{#if gsa_results}}
                            <p><strong>GSA Lab: </strong></p>
                            {{#each gsa_results}}
                                <p>{{@key}}: {{this}}%</p>
                            {{/each}}
                        {{/if}}
                    </div>
                    <div class="lab">
                        {{#if asi_results}}
                            <p><strong>ASI Lab: </strong></p>
                            {{#each asi_results}}
                                <p>{{@key}}: {{this}}%</p>
                            {{/each}}
                        {{/if}}
                    </div>
                    <div class="lab">
                        {{#if results}}
                            <p><strong>TWT Lab: </strong></p>
                            {{#each results}}
                                {{#if this}}
                                    <p>{{@key}}: {{this}}%</p>
                                {{/if}}
                            {{/each}}
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>

        <div class="bottom">
            <p><strong>Comment(s):</strong>__________________________________________________________________</p>
            <p>___________________________________________________________</p>
            <p><strong>Result provided by: </strong>___________________ (Signature)</p>
            <p><strong>Date of result issuance: </strong>{{date}}</p>
        </div>
    </div>
</body>
</html>